.header {
    width: 100%;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgb(255, 255, 255);
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header a {
    text-decoration: none;
    color: var(--cor-preto);
    font-size: 15px;
}

.header a:hover {
    color: #777;
}

@media (max-width: 768px) {
    .header {
        padding: 16px 5%;
        flex-direction: column;
        gap: 16px;
    }

    .header nav {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
    }
}