* {
    box-sizing: border-box;
}

:root {
    --cor-preto: #0B0D10;
    --cor-preto-superficie: #11151B;
    --cor-branco: #F5F7FA;
    --cor-cinza: #E8EDF2;
    --cor-amarelo: #FFD900;
    --cor-azul: #8FA7FF;
    --cor-texto-secundario: #68707D;
    --cor-texto-claro: #B8C0CC;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--cor-branco);
    color: var(--cor-preto);
}

